{% extends 'base.html.j2' %}

{% block main_header %}
	<h1 class="h2">{% block title %}Data dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}

	{# dashboard content #}
	

{% endblock %}